.bg {
padding: 1px;
  height: 100%;
  width: 100%;
  background-color: #f4f5ff;
  position: relative;
}

.rounded-item {
  border-radius: 30px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.no-onclick-animation{
  --ripple-color: transparent;
  --background-hover: transparent;
}

.title-grey {
  color: #9d9fa6;
}
