<ion-content [fullscreen]="true">

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="primary" (click)="showAddToDo()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-toolbar color="light">
        <ion-title>MyToDos</ion-title>
    </ion-toolbar>
    <div class="bg">
        <ion-card *ngFor="let todo of myTodos" class="rounded-item">
            <ion-item-sliding>
                <ion-item lines="none">
                    <ion-label [ngClass]="{'title-grey' : todo.checked}">{{todo.title}}</ion-label>
                    <ion-checkbox color="success" (ionChange)="changeState(todo)" [(ngModel)]="todo.checked"
                                  slot="end"></ion-checkbox>
                </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removeTodo(todo)">
                  <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
        </ion-card>

        <ion-card *ngIf="adding" class="rounded-item">
            <ion-item lines="none">
                <ion-input [(ngModel)]="todoTitle" placeholder="Enter a ToDo"></ion-input>
                <ion-button (click)="addTodo()" shape="round" slot="end">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-card>

    </div>

</ion-content>

